<div class="center hero-unit">
  <h1><%= t '.welcome' %></h1>
  <h2><%= t '.subtitle' %></h2>

  <%= link_to t('.host'), signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to t('.volunteer'), signup_path, class: "btn btn-large btn-primary"  %>
</div>

<%= link_to image_tag("nipanipa.png", alt:"NiPaNiPa"), "#" %>
