<% provide :title, t('sessions.signin') %>
<h1><%= t 'sessions.signin' %></h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_tag sessions_path do %>

      <div class="signup-field">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>

      <div class="signup-field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <%= submit_tag t('sessions.signin'), class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%= t '.newuser?' %> <%= link_to t('users.new.title'), signup_path %></p>
  </div>
</div>
