<div class="row conversation-preview">
  <%= link_to other_user(conversation) do %>
    <div class="span2 conversation-other">
      <%= avatar_for other_user(conversation), style: :thumb_message %>
      <%= other_user(conversation).name %>
    </div>
  <% end %>
  <%= link_to conversation_path(conversation),
      id: "show-link-#{conversation.id}" do %>
    <div class="span3 conversation-subject">
      <%= conversation.subject %>
    </div>
    <div class="span3 conversation-date">
      <%= l conversation.updated_at %>
    </div>
  <% end %>

  <%= link_to conversation_path(conversation), method: :delete,
              data: { confirm: t('.usure?') },
              id: "delete-link-#{conversation.id}", remote: true do %>
    <div id="delete-<%= conversation.id %>">
    </div>
  <% end %>
</div>
