<div class="row conversation-preview">
  <%= link_to user_conversation_path(current_user, conversation) do %>
    <div class="span2">
      <%= gravatar_for conversation.to %>
      <%= conversation.to.name %>
    </div>
    <div class="span3"><%= conversation.subject %></div>
    <div class="span3 conversation-date">
      <%= l conversation.updated_at %>
    </div>
  <% end %>

  <%= link_to user_conversation_path(current_user, conversation),
              method: :delete, data: { confirm: t('.usure?') },
              id: "delete-link-#{conversation.id}",
              remote: true do %>
    <div id="delete-<%= conversation.id %>">
    </div>
  <% end %>
</div>
