<% provide :title, t('.title') %>

<div class="row">

  <%= render 'layouts/sidebar', user: current_user,
                                no_feedback_link: true %>

  <div class="span8">

      <h1 id="username" class="span8">
        <strong><%= t('.header', username: @feedback.recipient.name) %></strong>
      </h1>

      <table>
        <tr>
          <th>Subject</th>
          <th>From</th>
          <th>To</th>
          <th>Offer</th>
          <th>Status</th>
        </tr>
        <% for conversation in @conversations %>
          <tr>
            <td><%= conversation.subject %></td>
            <td><%= conversation.from_id %></td>
            <td><%= conversation.to_id %></td>
            <td><%= conversation.offer_id %></td>
            <td><%= conversation.status %></td>
            <td><%= link_to "Show", conversation %></td>
            <td><%= link_to "Edit", edit_conversation_path(conversation) %></td>
            <td><%= link_to "Destroy", conversation, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
      </table>

  </div>

<p><%= link_to "New Conversation", new_conversation_path %></p>
