<% provide :title, @conversation.subject %>

<div class='col-md-12'>
  <div class='row main-titled'>
    <div class='col-md-offset-2 col-md-7 title'>
      <h3><%= @conversation.subject %></h3>
    </div>

    <div class='col-md-1 back'>
      <%= link_to t('.back_html'), conversations_path %>
    </div>

    <div class='col-md-offset-2 col-md-8 chat-list'>
      <ul id='chat-list'>
        <% for message in @conversation.messages %>
        <li>
          <%= render message %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class='col-md-offset-2 col-md-8'>
      <div class='row message-left'>
        <div class='col-md-2 message-from'>
          <%= avatar_for current_user, style: :thumb_message %>
        </div>
        <div class='col-md-10 message-content'>
          <div class='bubble-triangle'>
          </div>

          <%= form_tag reply_conversation_path(@conversation),
                       method: :put, remote: true do %>
            <%= text_area_tag :body %>
            <%= submit_tag t('.reply'), class: 'btn btn-default primary-button pull-right' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
