<% provide :title, @conversation.subject %>

<div class="span12">
  <div class="row main-titled">

    <div class="offset2 span7 title">
      <h3><%= @conversation.subject %></h3>
    </div>

    <div class="span1 back">
      <%= link_to t('.back_html'), user_conversations_path(current_user) %>
    </div>

    <div class="offset2 span8 chat-list">
      <ul id="chat-list">
        <% for message in @conversation.messages %>
        <li>
          <%= render message %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="offset3 span7 message-reply">
      <%= form_tag reply_user_conversation_path(current_user, @conversation),
                   method: :put, remote: true do %>
        <%= text_area_tag :body %>
        <%= submit_tag t('.reply'), class: "btn btn-small pull-right" %>
      <% end %>
    </div>

  </div>

</div>
