<% provide :title, @conversation.subject %>

<div class="row">

  <div class="span8">

    <div id="username">
      <h1 >
        <strong><%= @conversation.subject %></strong>
      </h1>
    </div>

    <ul id="chat-list" class="chat-list">
      <% for message in @conversation.messages %>
      <li>
        <%= render message %>
      </li>
      <% end %>
    </ul>

    <div class="row message-reply">
      <div class="offset1 span7">
        <%= form_tag reply_user_conversation_path(current_user, @conversation),
                     method: :put, remote: true do |f| %>
          <%= text_area_tag :body %>
          <%= submit_tag t('.reply'), class: "btn btn-small pull-right" %>
        <% end %>
      </div>
    </div>

  </div>

</div>
