<div class="control-group span10">
  <label class="control-label <%= user.errors.messages[:"pictures.image"] ? 'manual-error' : '' %>">
    <%= t('.title') %>
  </label>
  <div class="controls">
     <%= f.simple_fields_for :pictures, user.pictures do |p| %>
       <% unless p.object.avatar %>
         <% if p.object.new_record? %>
           <div class="new-picture <%= p.object.errors ? 'manual-error' : '' %>">
             <%= p.file_field :image, as: :file %>
             <% if not p.object.errors.messages[:image].empty? %>
               <span class="manual-error">
                 <%= p.object.errors.messages[:image].first %>
               </span>
             <% end %>
           </div>
         <% else %>
           <div class="current-picture">
             <%= image_tag p.object.image.url(:thumb) %>
           </div>
         <% end %>
       <% end %>
     <% end %>
  </div>
</div>
