<%= render 'shared/error_messages', object: f.object %>

<%= field_set_tag t('users.new.login_info') do %>
  <div class="signup-field">
    <%= f.label :name, t('users.new.name') %>
    <%= f.text_field :name %>
  </div>

  <div class="signup-field">
    <%= f.label :email, t('users.new.email') %>
    <%= f.text_field :email %>
  </div>

  <div class="signup-field">
    <%= f.label :password, t('users.new.password') %>
    <%= f.password_field :password %>
  </div>

  <div class="signup-field">
    <%= f.label :password_confirmation, t('users.new.password_confirmation') %>
    <%= f.password_field :password_confirmation %>
  </div>
<% end %>

<%= field_set_tag t('users.new.location') do %>
  <div class="signup-field">
    <%= f.label :location %>
    <%= text_field_tag 'location' %>
  </div>
<% end %>

<%= field_set_tag t('users.new.personal_info') do %>
  <div class="signup-field">
    <%= f.label :description, t('users.new.personal_desc') %>
    <%= f.text_area :description %>
  </div>
<% end %>

<%= field_set_tag t('users.new.work_info') do %>
 <div class="signup-field">
   <%= f.label :work_description, t('users.new.work') %>
   <%= f.text_area :work_description %>
 </div>

 <div class="signup-field">
   <%= f.label :work_types, t('users.new.work_type') %><br>
   <%= hidden_field_tag 'user[work_type_ids][]', nil %>
   <div class="control-group">
     <div class="controls span3">
     <% WorkType.all[0..7].each do |work_type| %>
       <label class="checkbox">
       <%= check_box_tag 'user[work_type_ids][]',
                         work_type.id,
                         @user.work_type_ids.include?(work_type.id),
                         id: dom_id(work_type) %>
         <%= t("users.new.work_types.#{work_type.name}") %>
       </label>
     <% end %>
     </div>
     <div class="controls span3">
     <% WorkType.all[8..14].each do |work_type| %>
       <label class="checkbox">
       <%= check_box_tag 'user[work_type_ids][]',
                         work_type.id,
                         @user.work_type_ids.include?(work_type.id),
                         id: dom_id(work_type) %>
         <%= t("users.new.work_types.#{work_type.name}") %>
       </label>
     <% end %>
     </div>
   </div>
 </div>
<% end %>
