<%= render 'shared/error_messages', object: f.object %>

<!--
<div class="subcolumns" id="profile_subcolumns">
  <div class="c33l">
  <%= field_set_tag t('users.new.login_info') do %>-->

<div class="signup-field">
  <%= f.label :name, t('users.new.name') %>
  <%= f.text_field :name %>
</div>

<div class="signup-field">
  <%= f.label :email, t('users.new.email') %>
  <%= f.text_field :email %>
</div>

<div class="signup-field">
  <%= f.label :password, t('users.new.password') %>
  <%= f.password_field :password %>
</div>

<div class="signup-field">
  <%= f.label :password_confirmation, t('users.new.password_confirmation') %>
  <%= f.password_field :password_confirmation %>
</div>
<!--  <% end %>
  <div class="c33l">
  <%= field_set_tag t('users.new.personal_info') do %>
    <%= f.label :description, t('users.new.personal_desc') %>
    <%= f.text_area :description %>
  <% end %>
  </div>
  <div class="c33r">
  <%= field_set_tag t('users.new.work_info') do %>
    <%= f.label :work_types, t('users.new.work_type') %><br>
    <%= hidden_field_tag 'user[work_type_ids][]', nil %>
    <% WorkType.all.each do |work_type| %>
      <%= check_box_tag 'user[work_type_ids][]',
                        work_type.id,
                        @user.work_type_ids.include?(work_type.id),
                        id: dom_id(work_type) %>
      <%= label_tag dom_id(work_type), t("users.new.#{work_type.name}") %><br>
    <% end %>
  <% end %>
  </div>
</div>
-->
