<div class="row">
  <%= simple_nested_form_for resource,
       as: resource_name, url: registration_path(resource_name),
       html: { class: 'form-horizontal offset1 span10', multipart: true },
       defaults: { wrapper_html: { class: 'span5' }, placeholder: false } do |f| %>

  <%= hidden_field_tag :type, user.type %>

  <div class="row">
    <%= f.input :name %>
    <%= f.input :email %>
  </div>

  <% if user.new_record? %>
    <div class="row">
      <%= f.input :password, hint: (user.errors ? false : true) %>
      <%= f.input :password_confirmation %>
    </div>
  <% end %>

  <div class="row">
    <%= f.input :description, label: t(".description_#{user.type.underscore}"),
                              wrapper_html: { class: 'span10' } %>
  </div>

  <div class="row">
    <%= f.input :availability, as: :check_boxes,
          item_wrapper_class: :inline, wrapper_html: { class: 'span10' },
          collection: User::AVAILABILITY,
          checked: user.availability,
          label_method: lambda{ |m| l(Date.strptime(m, '%b'), format: :month).titleize },
          value_method: :to_s %>
  </div>

  <div class="row">
    <%= render 'language_skills', f: f %>
  </div>

  <div class="row">
    <%= render 'work_types', f: f, user: user %>
  </div>

  <div class="row">
    <%= f.input :skills, label: t(".skills_#{user.type.underscore}"),
                          wrapper_html: { class: 'span10' } %>
  </div>

  <% if user.type == "Host" %>
    <div class="row">
      <%= f.input :accomodation, wrapper_html: { class: 'span10' } %>
    </div>
  <% end %>

  <%= f.button :submit, model: t('activerecord.models.user'),
                        class: "signup-button pull-right" %>

<% end %>
</div>
