<div class="row">
  <%= simple_form_for resource,
       as: resource_name, url: registration_path(resource_name),
       html: { class: 'form-horizontal offset1 col-md-10', multipart: true },
       defaults: { wrapper_html: { class: 'col-md-5' }, placeholder: false } do |f| %>

  <%= hidden_field_tag :type, resource.type %>

  <div class="row">
    <%= f.input :name %>
    <%= f.input :email %>
  </div>

  <% if resource.new_record? %>
    <div class="row">
      <%= f.input :password, hint: (resource.errors ? false : true) %>
      <%= f.input :password_confirmation %>
    </div>
  <% end %>

  <div class="row">
    <%= f.input :description, label: t(".description_#{resource.type.underscore}"),
                              wrapper_html: { class: 'col-md-10' } %>
  </div>

  <div class="row">
    <%= f.input :availability, as: :check_boxes,
          item_wrapper_class: :inline, wrapper_html: { class: 'col-md-10' },
          collection: User::AVAILABILITY,
          checked: resource.availability,
          label_method: lambda{ |m| l(Date.strptime(m, '%b'), format: :month).titleize },
          value_method: :to_s %>
  </div>

  <div class="row">
    <%= render 'language_skills', f: f %>
  </div>

  <div class="row">
    <%= render 'work_types', f: f, user: resource %>
  </div>

  <div class="row">
    <%= f.input :skills, label: t(".skills_#{resource.type.underscore}"),
                          wrapper_html: { class: 'col-md-10' } %>
  </div>

  <% if resource.type == "Host" %>
    <div class="row">
      <%= f.input :accomodation, wrapper_html: { class: 'col-md-10' } %>
    </div>
  <% end %>

  <%= f.button :submit, class: "signup-button pull-right" %>

<% end %>
</div>
