<%= simple_form_for resource, as: resource_name,
                              url: registration_path(resource_name),
                              html: { class: 'form-horizontal' } do |f| %>

  <div class="control-group">
    <h1 class="control-label">
      <%= t '.header', type: t("activerecord.models.#{user.type.underscore}") %>
    </h1>
    <div class="controls">
      <%= image_tag "#{user.type.underscore}_big.png" %>
    </div>
  </div>

  <%= hidden_field_tag :type, user.type %>

  <%= f.input :name %>

  <%= f.input :email, placeholder: false %>

  <% if user.errors %>
  <%= f.input :password, hint: false, placeholder: false %>
  <% else %>
  <%= f.input :password, placeholder: false %>
  <% end %>

  <%= f.input :password_confirmation %>

  <%= f.input :description,
              label: t("users.desc_label_#{user.type.underscore}") %>

  <!-- Provisional until handling pictures -->
  <label class="control-label"><%= t('.picture') %></label>
  <div class="controls">
    <%= gravatar_for @user %>
    <%= link_to 'change', 'http://gravatar.com/emails', target: '_blank' %>
  </div>

  <%= f.button :submit, model: t('activerecord.models.user'),
                        class: "signup-button pull-right" %>

<% end %>
