<li class="span9">
  <%= link_to user do %>
    <div class="user-thumbnail">
      <div class="user-thumbnail-badges">
        <%= avatar_for user %>
        <div class="karma">
          <span><strong><%= user.karma %></strong></span>
           <%= t('.karma') %>
        </div>
      </div>
      <div class="user-thumbnail-data">
        <h5><%= user.name %></h5>
        <div class="user-thumbnail-login">
          <%= render 'shared/current_or_last_login', user: user %>
        </div>
        <div class="user-thumbnail-location">
          <%=  t('.location') + ': ' %>
          <%= user_location user %>
        </div>
        <div class="user-thumbnail-shortdesc">
          <%= truncate user.description, length: 400,
                                         separator: ' ',
                                         omission: "..."  %>
        </div>
      </div>
    </div>
  <% end %>
</li>
