<%= provide :title, t('.title')  %>

<div class='main-page'>
  <aside class='sidebar-users'>
    <ul class='nav nav-pills nav-stacked'>
      <li class='nav-header'><%= t '.availability' %></li>
      <li class="<%= 'active' if params[:availability].nil? %>">
        <%= link_to t('.whenever'), users_path(params.except(:availability)) %>
      </li>
      <li class="<%= 'active' if params[:availability] == 'now' %>">
        <%= link_to t('.now'), users_path(params.merge(availability: 'now')) %>
      </li>

      <li class='nav-header'><%= t '.people' %></li>
      <li class="<%= 'active' if params[:type].nil? %>">
        <%= link_to t('.all'), users_path(params.except(:type)) %>
      </li>
      <li class="<%= 'active' if params[:type] == 'host' %>">
        <%= link_to t('.hosts'), users_path(params.merge(type: 'host')) %>
      </li>
      <li class="<%= 'active' if params[:type] == 'volunteer' %>">
        <%= link_to t('.volunteers'),
                    users_path(params.merge(type: 'volunteer')) %>
      </li>

      <li class='nav-header'><%= t '.places' %></li>
      <li class="<%= 'active' unless params[:con_id] %>">
        <%= link_to t('.wherever'), users_path(params.except(:con_id)) %>
      </li>
      <% Continent.find_each do |con| %>
        <% con_code = con.code.downcase %>
        <li class="<%= 'active' if params[:con_id] == con.id.to_s %>">
          <%= link_to t("continents.#{con_code}"),
                      users_path(params.merge(con_id: con.id)) %>
        </li>
      <% end %>
    </ul>
  </aside>

  <div class='list-users'>
    <ul class="user-thumbnails">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  </div>
</div>
