<%= provide :title, t('.title')  %>

<div class='main-page'>
  <aside class='sidebar-users'>
    <ul class='nav nav-pills nav-stacked'>
      <li class='nav-header'><%= t '.availability' %></li>
      <li class="<%= 'active' if params[:availability].nil? %>">
        <%= link_to t('.whenever'), users_path(params.except(:availability)) %>
      </li>
      <li class="<%= 'active' if params[:availability] == 'now' %>">
        <%= link_to t('.now'), users_path(params.merge(availability: 'now')) %>
      </li>

      <li class='nav-header'><%= t '.people' %></li>
      <li class="<%= 'active' if params[:type].nil? %>">
        <%= link_to t('.all'), users_path(params.except(:type)) %>
      </li>
      <li class="<%= 'active' if params[:type] == 'host' %>">
        <%= link_to t('.hosts'), users_path(params.merge(type: 'host')) %>
      </li>
      <li class="<%= 'active' if params[:type] == 'volunteer' %>">
        <%= link_to t('.volunteers'),
                    users_path(params.merge(type: 'volunteer')) %>
      </li>
      <li class='nav-header'><%= t '.places' %></li>
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		   <%= t('.africa') %>
		  </a>
		</h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse">
		<div class="panel-body">
		       <li >
			<% land = User.pluck(:country).uniq.to_a & User::AFRICA %>
			<% land.each do |country| %>
				<%= link_to country, users_path(params.merge(place: country)),:class => "country_link"%>
			<% end %>
		</li>
		</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		    <%= t('.america') %>
		  </a>
		</h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
		<div class="panel-body">
		       <li >
			<% land = User.pluck(:country).uniq.to_a & User::AMERICA %>
			<% land.each do |country| %>
				<%= link_to country, users_path(params.merge(place: country)),:class => "country_link"%>
			<% end %>
		</li>
		</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		   <%= t('.asia')%>
		  </a>
		</h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
		<div class="panel-body">
		       <li >
			<% land = User.pluck(:country).uniq.to_a & User::ASIA %>
			<% land.each do |country| %>
				<%= link_to country, users_path(params.merge(place: country)),:class => "country_link"%>
			<% end %>
		</li>
		</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		    <%= t('.europe')%>
		  </a>
		</h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse">
		<div class="panel-body">
		       <li >
			<% land = User.pluck(:country).uniq.to_a & User::EUROPE %>
			<% land.each do |country| %>
				<%= link_to country, users_path(params.merge(place: country)),:class => "country_link"%>
			<% end %>
		</li>
		</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
		    <%= t('.oceania')%>
		  </a>
		</h4>
	    </div>
	    <div id="collapseFive" class="panel-collapse collapse">
		<div class="panel-body">
		       <li >
			<% land = User.pluck(:country).uniq %>
			<% land.each do |country| %>
				<%= link_to country, users_path(params.merge(place: country)),:class => "country_link"%>
			<% end %>
		</li>
		</div>
	    </div>
	  </div>
    </ul>
  </aside>

  <div class='list-users'>
    <ul class="user-thumbnails">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
