<%= provide :title, t('.title')  %>

<aside class="span3 sidebar-users">
  <ul class="nav nav-list">
    <li class="nav-header"><%= t '.availability' %></li>
    <li class="<%= 'active' if params[:availability].nil? %>">
      <%= link_to t('.whenever'), users_path(params.except(:availability)) %>
    </li>
    <li class="<%= 'active' if params[:availability] == 'now' %>">
      <%= link_to t('.now'), users_path(params.merge(availability: 'now')) %>
    </li>
    <li class="nav-header"><%= t '.places' %></li>
    <li class="nav-header"><%= t '.people' %></li>
    <li class="<%= 'active' if params[:type].nil? %>">
      <%= link_to t('.all'), users_path(params.except(:type)) %>
    </li>
    <li class="<%= 'active' if params[:type] == 'host' %>">
      <%= link_to t('.hosts'), users_path(params.merge(type: 'host')) %>
    </li>
    <li class="<%= 'active' if params[:type] == 'volunteer' %>">
      <%= link_to t('.volunteers'),
                  users_path(params.merge(type: 'volunteer')) %>
    </li>
  </ul>
</aside>
<div class="span9 list-users">
  <ul class="thumbnails">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
