<%= provide :title, t('.title')  %>

<div class='main-page'>
  <aside class='sidebar-users'>
    <ul class='nav nav-pills nav-stacked'>
      <li class='nav-header'><%= t '.availability' %></li>
      <li class="<%= 'active' if params[:availability].nil? %>">
        <%= link_to t('.whenever'), users_path(params.except(:availability)) %>
      </li>
      <li class="<%= 'active' if params[:availability] == 'now' %>">
        <%= link_to t('.now'), users_path(params.merge(availability: 'now')) %>
      </li>

      <li class='nav-header'><%= t '.people' %></li>
      <li class="<%= 'active' if params[:type].nil? %>">
        <%= link_to t('.all'), users_path(params.except(:type)) %>
      </li>
      <li class="<%= 'active' if params[:type] == 'host' %>">
        <%= link_to t('.hosts'), users_path(params.merge(type: 'host')) %>
      </li>
      <li class="<%= 'active' if params[:type] == 'volunteer' %>">
        <%= link_to t('.volunteers'),
                    users_path(params.merge(type: 'volunteer')) %>
      </li>

      <li class='nav-header'><%= t '.places' %></li>
      <li class="<%= 'active' if params[:place].nil? %>">
        <%= link_to t('.wherever'), users_path(params.except(:place)) %>
      </li>
      <% Continent.find_each do |continent| %>
        <% code = continent.code %>
        <li data-toggle="collapse"
            data-target="#<%= code.downcase %>"
            aria-expanded='false'>
          <%= link_to t("continents.#{code}"), '#' %>
          <ul id="<%= code.downcase %>" class='collapse'>
            <% continent.countries.each do |country| %>
              <li>
                <%= link_to t("countries.#{code}.#{country.code}"),
                            users_path(params.merge(place: country.code)),
                            class: 'country_link' %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </aside>

  <div class='list-users'>
    <ul class="user-thumbnails">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
