<% provide(:title, @user.name) %>

<div id="col1">

  <div id="col1_content">

    <div>
      <%= gravatar_for @user, size: 150 %>
    </div>

      <!-- TODO: activate fancy zoom
      <a href="members/avatar/deivid?500" id="profile_image"><%=
        gravatar_for @user, size: 150 %></a>
      -->

    <ul class="linklist" id="profile_linklist">
      <% if !current_user?(@user) %>
      <li id="sub0" class="editmyprofile">
        <%= link_to t('.leave_feedback'), new_user_feedback_path(@user.id) %>
      </li>
      <li><%= link_to t('.contact_user'), '#' %></li>
      <% end %>
      <li id="sub1" class="mypreferences">
        <a style="cursor:pointer;" href="mypreferences"><span>Mis preferencias</span></a></li>
      <li id="sub2" class="myvisitors">
        <a style="cursor:pointer;" href="myvisitors"><span>Visitas en mi perfil</span></a></li>
      <li id="sub3" class="space">
        <a style="cursor:pointer;" href=""><span></span></a></li>
      <li id="sub6" class="">
        <a style="cursor:pointer;" href="gallery/show/user/deivid/pictures"><span>Galería (0)</span></a></li>
    </ul>

  </div> <!-- col1_content -->

</div> <!-- col1 -->

<div id="col3">

  <div id="col3_content">

    <div id="profile-header" class="clearfix">

      <div id="profile-location">
        <%= image_tag "http://maps.google.com/maps/api/staticmap?center=#{@user.location.latitude}%2C#{@user.location.longitude}&size=300x200&sensor=false&zoom=8", alt: "map" %>
      </div>

      <div id="profile-info">
        <div class="subcolumns">
          <h1 id="username">
            <strong><%= @user.name %></strong>
          </h1> <!-- username -->

          <div id="navigation-path">
            <h2><strong><%= @user.location.address %></strong></h2>
            <p class="grey">
              27 Edad<br>
              Miembro desde: Hace 6 meses<br>
              Último ingreso: menos de una semana
            </p>
          </div> <!-- navigation-path -->

        </div> <!-- subcolumns -->
      </div> <!-- profile-info -->
    </div>

    <div id="profile">
      <div class="subcolumns" id="profile_subcolumns">
        <div class="c50l">
          <div class="subcl">

            <div id="jobsummary" class="floatbox box">
              <span class="float_right profile-edit-link">
                <%= link_to "Editar", edit_user_path(@user.id) %>
              </span>
              <h3 class="icon info22">Descripción del Trabajo</h3>
              <%= @user.work_description %>
            </div> <!-- jobsummary -->

            <div id="accommodationinfo" class="floatbox box">
              <span class="float_right profile-edit-link">
                <a href="/editmyprofile#!profileaccommodation">Editar</a>
              </span>
              <h3 class="icon accommodation22">Alojamiento</h3>
              <!-- implement quickinfo icons like in BeWelcome/blablacar -->
              <p>We have 2 bedrooms with their own bathrooms, 1double with an
                 en-suite. The other has a french sized double bed with the
                 bathroom next door. We offer sole use of our vaulted living
                 room. The en-suite bedroom has it's own private entrance.
                 We have a farmhouse sized kitchen where we eat our meals, but
                 are happy for guests to have their meals privately in the
                 living room if they prefer.
            </div> <!-- profile_accommodation -->
          </div> <!-- subcl -->
        </div> <!-- c50l -->

        <div class="c50r">
          <div class="subcr">

            <div id="personaldescription" class="floatbox box">
              <span class="float_right profile-edit-link">
                <%= link_to "Editar", edit_user_path(@user.id) %>
              </span>
              <h3 class="icon info22">Sobre mí</h3>
                <%= @user.description %>
            </div> <!-- personaldescription -->

            <div id="languages" class="floatbox box">
              <span class="float_right profile-edit-link">
                <%= link_to "Editar", edit_user_path(@user.id) %>
              </span>
              <h3>Idiomas</h3>
              <ul class="icon profile_languages"></ul>
            </div> <!-- languages -->

            <div id="feedbacks" class="floatbox box">
              <h3 class="icon feedbacks22">Feedbacks (<%= @user.received_feedbacks.count %>)</h3>
              <% if @user.received_feedbacks.any? %>
              <ol class="feedbacks">
                <%= render partial: 'feedbacks/received_feedback',
                 collection: @received_feedbacks %>
              </ol>
              <%= will_paginate @received_feedbacks %>
              <% end %>
            </div> <!-- profile_feedbacks -->

          </div> <!-- subcr -->
        </div> <!-- c50r -->

      </div> <!-- subcolumns -->
    </div> <!-- profile -->
  </div> <!-- col3_content -->
  <!-- IE Column Clearing -->
  <div id="ie_clearing">&nbsp;</div>
  <!-- Ende: IE Column Clearing -->
</div> <!-- col3 -->
