<% provide :title, @user.name %>

<div class="row profile-wrapper">

  <%= render 'shared/profile_header', user: @user,
                                      page_id: @page_id,
                                      given_feedback: @given_feedback %>

  <div class="span12 profile-content">
    <div class="row profile-content-wrapper">

       <div id="personal-description" class="span6 box">
         <%= render 'edit_link', user: @user %>
         <h3><%= t '.description' %></h3>
         <p><%= @user.description %></p>
       </div>

     <%= render partial: 'feedbacks/feedbacks', object: @feedback_pairs %>

    </div>
  </div>

</div>
