<% provide :title, @user.name %>

<%= render 'shared/profile_header', user: @user, page_id: @page_id,
                                    given_feedback: @given_feedback %>

<div id="profile-content">
  <div class="col-md-6">
    <div class="box">
      <%= render 'edit_link', user: @user %>
      <h3><%= t '.description' %></h3>
      <p><%= simple_format(@user.description) %></p>
    </div>

    <div class="box">
      <%= render 'edit_link', user: @user %>
      <h3><%= t ".skills_#{@user.type.underscore}" %></h3>
      <p><%= simple_format(@user.skills) %></p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box">
      <%= render 'edit_link', user: @user %>
      <h3><%= t('.availability') %></h3>
      <%= render 'calendar', availability: @user.availability %>
    </div>

    <% if @user.type == "Host" %>
      <div class="box">
        <%= render 'edit_link', user: @user %>
        <h3><%= t ".accomodation" %></h3>
        <p><%= simple_format(@user.accomodation) %></p>
      </div>
    <% end %>

    <div class="box">
      <h3><%= link_to t('.pictures'), user_pictures_path(@user) %></h3>
      <%= render 'pictures', pictures: @user.pictures %>
    </div>

    <div class="box">
      <h3><%= link_to feedback_count(@feedback_pairs), user_feedbacks_path(@user) %></h3>
      <%= render partial: 'feedbacks/feedbacks', object: @feedback_pairs %>
    </div>
  </div>
</div>
