<h2><%= t '.forgotten?' %></h2>

<%= simple_form_for(resource, as: resource_name,
                              url: password_path(resource_name),
                              html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, autofocus: true %>
  <%= f.button :submit, t('.send_instructions'), class: "signup-button" %>

<% end %>
