<% provide :title, t('.forgotten?') %>

<div class="signin-thumbnail">
  <div class="header">
    <%= image_tag "host_small.png", alt: "host" %>
    <%= image_tag "volunteer_small.png", alt: "volunteer" %>
    <%= image_tag "explore_small.png", alt: "explore" %>
    <h2><%= t '.forgotten?' %></h2>
  </div>
  <%= simple_form_for(resource, as: resource_name,
                                url: password_path(resource_name),
                                html: { method: :post }) do |f| %>
    <%= f.input_field :email, autofocus: true %>
    <%= f.button :submit, t('.send_instructions'), class: "signup-button" %>
  <% end %>
</div>
