<div class="span12 profile-header-<%= user.type.underscore %>">
  <div class="row profile-header-wrapper">
    <div class="user-picture span4">
      <%= avatar_for @user, style: :medium %>
    </div>
    <div class="user-tips span8">
      <div class="row">
        <div class="span8 title">
          <h3><strong><%= user.name %></strong></h3>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <%= render 'shared/badge', name: 'karma', content: user.karma %>
          <%= render 'shared/badge', name: 'location',
                                     content: user_location(user) %>
          <%= render 'shared/badge',
                     name: 'last_login',
                     content: i18n_timeago(user.current_sign_in_at) %>
          <%= render 'shared/badge', name: 'member_since',
                                     content: i18n_timeago(user.created_at) %>
        </div>
        <div class="span4">
          <%= render 'shared/badge', name: 'categories',
                                     content: user_categories(user) %>
          <%= render 'shared/badge', name: 'languages',
                                     content: user_languages(user) %>
        </div>
      </div>

      <div class="row">
        <div class="profile-tabs">
          <ul class="nav nav-tabs">
            <%= tab_builder(user, page_id) %>
          </ul>
        </div>
        <% if user_signed_in? and current_user != user %>
          <div class="leave-feedback-link">
            <% unless given_feedback %>
              <%= link_to new_user_feedback_path(user) do %>
                <div class="label_info">
                  <%= image_tag 'feedback.png' %>
                </div>
                <div class="content_info">
                  <%= t('.new_feedback') %>
                </div>
              <% end %>
            <% else %>
              <%= link_to edit_user_feedback_path(user, given_feedback) do %>
                <div class="label_info">
                  <%= image_tag 'feedback.png' %>
                </div>
                <div class="content_info">
                  <%= t('.edit_feedback') %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="send-message-link">
            <%= link_to new_conversation_path(to: user.id) do %>
              <div class="label_info">
                <%= image_tag 'envelope.png' %>
              </div>
              <div class="content_info">
                <%= t('.new_conversation') %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
   </div>
</div>

