<div class="span12 profile-header">
  <div class="row profile-header-wrapper">
    <div class="user-gravatar span4">
      <%= gravatar_for user, size: 260 %>
    </div>
    <div class="user-tips span8">
      <div class="row">
        <div class="span4">
          <div class="username">
            <strong><%= user.name %></strong><br />
            <span>karma: <strong><%= user.karma %></strong></span>
          </div>
        </div>
        <% if user_signed_in? and current_user != user %>
          <div class="span2 action-pad">
            <% unless given_feedback %>
              <%= link_to new_user_feedback_path(user) do %>
                <div class="label_info">
                  <%= image_tag 'feedback.png' %>
                </div>
                <div class="content_info">
                  <%= t('.new_feedback') %>
                </div>
              <% end %>
            <% else %>
              <%= link_to edit_user_feedback_path(user, given_feedback) do %>
                <div class="label_info">
                  <%= image_tag 'feedback.png' %>
                </div>
                <div class="content_info">
                  <%= t('.edit_feedback') %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="span2 action-pad">
            <%= link_to new_user_conversation_path(current_user,
                                                   to: user.id) do %>
              <div class="label_info">
                <%= image_tag 'envelope.png' %>
              </div>
              <div class="content_info">
                <%= t('.new_conversation') %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="span4">
          <div class="quickinfo">
            <div class="label_info">
              <%= image_tag "#{user.type.underscore}_icon.png" %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.type') %>:</strong></span>
              <%= t "activerecord.models.#{user.type.underscore}" %>
            </div>
          </div>
          <div class="quickinfo">
            <div class="label_info">
              <%= image_tag 'location.png' %>
            </div>
            <div class="content_info">
            <span><strong><%= t('.location') %>:</strong></span>
              <%= user.state.empty? ? "" : "#{user.state}, " %>
              <%= user.country %>
            </div>
          </div>
          <div class="quickinfo login-info">
            <div class="label_info">
            <%= image_tag 'calendar.png' %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.last_login') %>:</strong></span>
              <%= t 'datetime.timestamp_ago',
                    time: time_ago_in_words(user.current_sign_in_at) %>
              <br />
              <span><strong><%= t('.member_since') %>:</strong></span>
              <%= t 'datetime.timestamp_ago',
                    time: time_ago_in_words(user.created_at) %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="quickinfo">
            <div class="label_info">
            <%= image_tag 'tag.png' %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.categories') %>:</strong></span>
                <%= user.work_types.join(', ') %>
            </div>
          </div>
          <div class="quickinfo">
            <div class="label_info">
            <%= image_tag 'languages.png' %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.languages') %>:</strong></span>
              <% if user.language_skills.empty? %>
                <em><%= t('.unknown') %></em>
              <% else %>
                <% user.language_skills.each do |ls| %>
                  <%= "#{ls.language.name} (#{ls.level})" %><br />
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row profile-tabs">
        <ul class="nav nav-tabs">
          <%= tab_builder(user, page_id) %>
        </ul>
      </div>
    </div>
   </div>
</div>

