<div class="span12 profile-header-<%= user.type.underscore %>">
  <div class="row profile-header-wrapper">
    <div class="user-picture span4">
      <%= avatar_for @user, style: :medium %>
    </div>
    <div class="user-tips span8">
      <div class="row">
        <div class="span8 title">
          <h3>
            <strong><%= user.name %></strong>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <div class="quickinfo">
            <div class="label_info">
              <%= image_tag "karma.png" %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.karma') %>:</strong></span>
              <%= user.karma %>
            </div>
          </div>
          <div class="quickinfo">
            <div class="label_info">
              <%= image_tag 'location.png' %>
            </div>
            <div class="content_info">
            <span><strong><%= t('.location') %>:</strong></span>
              <%= user_location user %>
            </div>
          </div>
          <div class="quickinfo">
            <div class="label_info">
            <%= image_tag 'last_login.png' %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.last_login') %>:</strong></span>
              <%= t 'datetime.timestamp_ago',
                    time: time_ago_in_words(user.current_sign_in_at) %>
            </div>
          </div>
          <div class="quickinfo">
            <div class="label_info">
            <%= image_tag 'member_since.png' %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.member_since') %>:</strong></span>
              <%= t 'datetime.timestamp_ago',
                    time: time_ago_in_words(user.created_at) %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="quickinfo" id="categoriesinfo">
            <div class="label_info">
            <%= image_tag 'categories.png' %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.categories') %>:</strong></span>
              <% if user.work_types.empty? %>
                <em><%= t('.unknown') %></em>
              <% else %>
                <%= user.work_types.map { |wt|
                  t("work_types.#{wt.name}") }.join(', ') %>
              <% end %>
            </div>
          </div>
          <div class="quickinfo" id="languagesinfo">
            <div class="label_info">
            <%= image_tag 'languages.png' %>
            </div>
            <div class="content_info">
              <span><strong><%= t('.languages') %>:</strong></span>
              <% if user.language_skills.empty? %>
                <em><%= t('.unknown') %></em>
              <% else %>
                <%= user.language_skills.map { |ls|
                      "#{ls.language.name} (#{ls.level.text})" }.join(', ') %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="profile-tabs">
          <ul class="nav nav-tabs">
            <%= tab_builder(user, page_id) %>
          </ul>
        </div>
        <% if user_signed_in? and current_user != user %>
          <div class="leave-feedback-link">
            <% unless given_feedback %>
              <%= link_to new_user_feedback_path(user) do %>
                <div class="label_info">
                  <%= image_tag 'feedback.png' %>
                </div>
                <div class="content_info">
                  <%= t('.new_feedback') %>
                </div>
              <% end %>
            <% else %>
              <%= link_to edit_user_feedback_path(user, given_feedback) do %>
                <div class="label_info">
                  <%= image_tag 'feedback.png' %>
                </div>
                <div class="content_info">
                  <%= t('.edit_feedback') %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="send-message-link">
            <%= link_to new_user_conversation_path(current_user,
                                                   to: user.id) do %>
              <div class="label_info">
                <%= image_tag 'envelope.png' %>
              </div>
              <div class="content_info">
                <%= t('.new_conversation') %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
   </div>
</div>

