<%= simple_form_for User.new, url: user_session_path, wrapper: :inline_form,
      wrapper_mappings: { boolean: :vertical_boolean } do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password, hint: false %>
  <%= f.input :remember_me, as: :boolean, inline_label: t('sessions.rememberme') %>
  <%= f.button :submit, t('sessions.signin'), class: 'signup-button' %>
<% end %>

<div class='forgot-your-pwd'>
  <%= link_to t('sessions.forgot_your_pwd?'), new_password_path(:user) %>
</div>
