<%= simple_form_for :user, url: user_session_path do |f| %>
  <%= f.input_field :email   , autofocus: true, value: nil %>
  <%= f.input_field :password, hint: false %>
  <%= f.input :remember_me, as: :boolean,
                            inline_label: t('sessions.rememberme'),
                            label: false %>
  <%= f.button :submit, t('sessions.signin'), class: "signup-button" %>
<% end %>

<div class="forgot-your-pwd">
  <%= link_to t('sessions.forgot_your_pwd?'), new_password_path(:user) %>
</div>
