<% provide :title, t('.title') %>
<h1><%= t '.title' %></h1>

<ul class="thumbnails">
  <li class="span6">
    <div class="thumbnail contribute-thumbnail">
      <h3><%= t '.donate_title' %></h3>
      <p><%= t '.donate_desc' %></p>
      <p>
      <%= form_for @donation do |f| %>
        <%= f.label :amount, t('.select_amount') %>
        <%= f.select :amount, options_for_select([ 5, 10, 20 ], 10) %>
        <%= f.submit t('.submit'), class: "btn" %>
      <% end %>
      </p>
    </div>
   </li>

   <li class="span6">
    <div class="thumbnail contribute-thumbnail">
      <h3><%= t '.contribute_title' %></h3>
      <ul>
        <li>
        <p><%= t '.contribute_desc_dev_html', git_url: link_to(t('.here'), 'https://github.com/deivid-rodriguez/nipanipa') %></p>
        </li>
        <li>
        <p><%= t '.contribute_desc_tr' %></p>
        </li>
        <li>
        <p><%= t '.contribute_desc_bug_html', issues_url: link_to(t('.here'), 'https://github.com/deivid-rodriguez/nipanipa/issues') %></p>
        </li>
      </ul>
    </div>
  </li>
</ul>



