<% provide :title, t('sessions.signin') %>

<div class="row profile-wrapper">
  <div class="signin-thumbnail">
    <div class="header">
      <%= image_tag "host_small.png", alt: "host" %>
      <%= image_tag "volunteer_small.png", alt: "volunteer" %>
      <%= image_tag "explore_small.png", alt: "explore" %>
      <h2><%= t('sessions.signin') %></h2>
    </div>
    <%= render 'shared/signin' %>
  </div>
</div>
