<div id="feedback-<%= feedback.id %>" class="feedback <%=type%>">

  <div class="thumb-avatar pull-<%= type == 'sent' ? 'left' : 'right' %>">
    <%= link_to avatar_for(feedback.sender, style: :thumb), feedback.sender %>
  </div>

  <% if feedback.sender == current_user %>
    <div class="pull-<%= type == 'sent' ? 'left' : 'right' %>">
      <div class="profile-edit-link">
        <%= link_to "Editar", edit_user_feedback_path(feedback.recipient, feedback) %>
      </div>
      <div class="profile-edit-link">
        <%= link_to "Borrar", user_feedback_path(feedback.recipient, feedback), method: :delete %>
      </div>
    </div>
  <% end %>

  <div class="score-icon">
    <%= image_tag "#{feedback.score}.png", alt: feedback.score %>
  </div>

  <div class="sender">
    <% if type == 'sent' %>
      <strong><%= t '.to', name: feedback.recipient.name %></strong>
    <% else %>
      <strong><%= t '.from', name: feedback.sender.name %></strong>
    <% end %>
  </div>

  <div class="time_ago">
    <%= t 'datetime.timestamp_ago',
          time: time_ago_in_words(feedback.updated_at) %>
  </div>

  <div class="content">
    <%= feedback.content %>
  </div>

</div>
