<li>
  <div class="sender-picture">
    <%= link_to gravatar_for(received_feedback.sender, size:40),
                received_feedback.sender %>
  </div>
  <div class="score-icon">
    <% if received_feedback.score == 1 %>
      <%= image_tag("positive.ico", alt:"positive") %>
    <% elsif received_feedback.score == 0 %>
      <%= image_tag("neutral.ico", alt:"neutral") %>
    <% else %>
      <%= image_tag("negative.ico", alt:"negative") %>
    <% end %>
  </div>

  <div class="sender">
    <strong>From <%= received_feedback.sender.name %></strong>
  </div>
  <div class="timestamp">
    <%= t 'datetime.timestamp_ago',
          time: time_ago_in_words(received_feedback.updated_at) %>
  </div>
  <div class="content">
    <%= received_feedback.content %>
  </div>
</li>
