<div>
  <h3><%= offer.title %></h3>

  <dt><%= t('.description') %></dt>
  <dd><%= offer.description %></dd>

  <dt><%= t('.accomodation') %></dt>
  <dd><%= offer.accomodation %></dd>

  <dt><%= t('.from') %></dt>
  <dd><%= offer.start_date %></dd>

  <dt><%= t('.to') %></dt>
  <dd><%= offer.end_date %></dd>

  <dt><%= t('.hours_per_day') %></dt>
  <dd><%= offer.hours_per_day %></dd>

  <dt><%= t('.days_per_week') %></dt>
  <dd><%= offer.days_per_week %></dd>

  <dt><%= t('.vacancies') %></dt>
  <dd><%= offer.vacancies %></dd>

</div>
