<div id="offer-<%= offer.id %>">
  <h3><%= offer.title %></h3>

  <dt><%= t('.description') %></dt>
  <dd><%= offer.description %></dd>

  <dt><%= t('.accomodation') %></dt>
  <dd><%= offer.accomodation %></dd>

  <dt><%= t('.from') %></dt>
  <dd><%= offer.start_date %></dd>

  <dt><%= t('.to') %></dt>
  <dd><%= offer.end_date %></dd>

  <dt><%= t('.hours_per_day') %></dt>
  <dd><%= offer.hours_per_day %></dd>

  <dt><%= t('.days_per_week') %></dt>
  <dd><%= offer.days_per_week %></dd>

  <dt><%= t('.vacancies') %></dt>
  <dd><%= offer.vacancies %></dd>

  <div class="btn pull-right">
    <% if user_signed_in? %>
      <%= link_to t('.contact'),
        new_user_conversation_path(current_user, offer: offer.id,
                                                 to: offer.host.id) %>
    <% else %>
      <%= link_to t('static_pages.home.signup'),
                  new_user_registration_path(type: Volunteer) %>
      or
      <%= link_to t('sessions.signin'), new_user_session_path %>
    <% end %>
  </div>

</div>
