<p><%= t '.greeting',
         name: @resource.email %></p>

<p><%= t '.info' %></p>

<p>
  <%= link_to t('.change_my_pwd'),
              edit_user_password_url(reset_password_token: @token) %>
</p>

<p><%= t '.ignore' %></p>
<p><%= t '.wont_change' %></p>
