<footer class="footer">
  <small>
    <%= link_to "NiPaNiPa", root_path %>
    by
    <%= link_to "Trastévere", 'http://trasteverestudio.blogspot.com.es' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>
        <%= link_to "News", 'http://trasteverestudio.blogspot.com.es/' %>
      </li>
    </ul>
  </nav>
</footer>
