<footer class="container">
  <small>
    (ↄ) 2013 NiPaNiPa by
    <%= link_to "Trastévere", 'http://trasteverestudio.com' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('static_pages.terms.title')  , terms_path   %></li>
      <li><%= link_to t('static_pages.about.title')  , about_path   %></li>
      <li><%= link_to t('static_pages.contact.title'), contact_path %></li>
      <li>
        <%= link_to t('layouts.footer.news'), 'http://trasteverestudio.com' %>
      </li>
    </ul>
  </nav>
</footer>
