<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>
    <div class="main container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
