<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class="cover">
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>
      <div class='nipa-container'>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
